$font-nanum: NanumBarunGothicOTF sans-serif;
$font-replica: ReplicaPro sans-serif;

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  height: 100%;
  padding-top: 60px;
  font-family: sans-serif;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  color: #e5e5e5;
}

.divider1 {
  width: 1px;
  height: 30px;
  margin-top: -5px;
  margin-left: 15px;
  margin-right: 15px;
  background: #d9d9d9;
}

.divider2 {
  width: 1px;
  height: 20px;
  opacity: 0.4;
  background: #ffffff;
}

/* NavBar */
.navbar-ems > li > a, .div-cs, .navbar-ems > .container-fluid, .navbar-ems > .navbar-header, .navbar-ems > .collapse, .nav-divider1 {
  padding-top: 15px;
  padding-bottom: 0;
  height: 65px;
}

.navbar-ems-mobile > li > a, .navbar-ems-mobile > .container-fluid, .navbar-ems-mobile > .navbar-header, .navbar-ems-mobile > .collapse {
  padding-top: 5px;
  padding-bottom: 0;
  height: 60px;
}

.navbar-ems, .navbar-ems-mobile {
  background-color: #ffffff;
}

.icon-cs {
  width: 22px;
  height: 22px;
  margin-right: -24px;
}

.nav-menu-support {
  margin-right: 30px;
}

.nav-menu-login {
  font-weight: bold;
}

.dropdown-toggle {
  margin-right: 29px;
  font-weight: bold;
}

.top-nav-text {
  font-family: $font-nanum;
  font-size: 14px;
  color: #000000 !important;
  font-weight: bold;
  li {
    cursor: pointer;
  }
}

/* Tab */
.tab-content, .tab-pane, .fullpage-div {
  height: 100%;
}

/* Custom Drop down */
.dropdown-icon {
  position: absolute;
  top: 22px;
  right: 17px;
}

.dropup-icon {
  position: absolute;
  right: 6px;
}

.lang-dropdown {
  width: 116px;
  height: 40px;
  padding: 12px 16px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
  min-width: 0;
  padding: 0;
  top: 2px;
  left: -2px;
  right: auto;
}

.dropdown-menu > li > a {
  width: 116px;
  height: 40px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  text-align: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/* Main Tap ---------------------------*/
/* Apply */
.apply-field {
  position: relative;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.apply-field-mobile {
  display: table;
  position: relative;
  background: url("../images/main@2x.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.apply-center-div-mobile {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.apply-image {
  background: url("../images/main@2x.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.apply-texts {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.apply-fix {
  position: fixed;
  z-index: -2;
}

.apply-txt {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 54px;
  font-weight: bold;
  font-family: $font-replica;
  color: #ffffff;
}

.apply-btn {
  display: inline-block;
  width: 112px;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  background: transparent;
  border: solid 1px #ffffff;
  font-size: 14px;
  color: #ffffff;
  &:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #4ba1ff;
  }
}

.default-field {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
  background: #ffffff;
}

/* EMS Illust */
.title_text {
  font-family: $font-replica;
  font-size: 26px;
  text-align: center;
  color: #000000;
}

.ems-text2 {
  font-family: $font-nanum;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #aaaaaa;
  margin-top: 10px;
}

.illust-text {
  background: url("../images/ems-illust@2x.jpg") no-repeat center;
  background-size: 825px;
  position: relative;
  width: 825px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

h2 {
  font-size: 34px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-height: normal;
  text-align: center;
  letter-spacing: -0.8px;
}

h3 {
  font-size: 16px;
  text-align: center;
  color: #013662;
}

.illust-customer {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  color: #2450a0;
}

.illust-driver {
  position: absolute;
  left: 10%;
  bottom: 8%;
  color: #4aa0ff;
}

.illust-manager {
  position: absolute;
  right: 10%;
  bottom: 8%;
  color: #2f6dde;
}

.illust-serve {
  position: absolute;
  top: 36%;
  left: 10%;
}

.illust-order {
  position: absolute;
  top: 36%;
  right: 10%;
}

.illust-dispatch {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -35px;
  transform: translateX(-50%);
}

/* EMS Service */
.default-field {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.service-list {
  display: table;
  padding-top: 60px;
  margin: 0 auto;
}

.service-list > div {
  position: relative;
  width: 290px;
  height: 290px;
  margin: 10px;
}

.service-list-item {
  padding: 0;
  &:hover {
    .ems-service-text-div {
      z-index: 2;
    }

    .service-list-item-layer {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(65, 140, 250, 0.8);
    }
  }
}

.ems-customer-box {
  background: url("../images/customer@2x.jpg") no-repeat center;
}

.ems-manager-box {
  background: url("../images/manager@2x.jpg") no-repeat center;
}

.ems-driver-box {
  background: url("../images/driver@2x.jpg") no-repeat center;
}

.ems-service-text-div {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  text-align: left !important;
}

.shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 290px;
  height: 145px;
}

h4 {
  font-family: $font-nanum;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

h5 {
  font-family: $font-nanum;
  font-size: 14px;
  line-height: 1.57;
  color: #ffffff;
}

/* Benefits */
.default-field {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.benefit-horizontal-list {
  display: table;
  clear: both;
  margin: 0 auto;
}

.benefit-box {
  float: left;
  width: 391px;
  margin-top: 80px;
}

.benefit-box-left {
  margin-right: 60px;
}

.benefit-box-right {
  margin-left: 60px;
}

.benefit-icon {
  width: 47px;
  height: 47px;
  margin-bottom: 29px;
}

h6 {
  font-family: $font-nanum;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

h7 {
  font-family: $font-nanum;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #000000;
}

/* Social Proof */
.default-field {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.social-div {
  position: relative;
  display: table;
  margin: 58px auto 0;
  text-align: center;
}

.quotation {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 34px;
  color: #000000;
  img {
    vertical-align: top;
  }
}

.social-andasun, .social-rich {
  float: left;
  max-width: 365px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.andasun, .rich {
  margin: 0 auto;
  width: 66px;
  height: 66px;
}

.andasun {
  background: url("../images/ads-profile@2x.jpg") no-repeat center;
  background-size: cover;
}

.rich {
  background: url("../images/rich-profile@2x.jpg") no-repeat center;
  background-size: cover;
}

.social-text-1 {
  font-family: $font-nanum;
  margin-top: 14px;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.social-text-2 {
  font-family: $font-nanum;
  font-size: 12px;
  font-weight: bold;
  color: #9b9b9b;
}

.social-text-3 {
  max-width: 265px;
  margin-top: 7px;
  font-family: $font-nanum;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  color: #000000;
}

/* Apply bottom */
.apply-bottom-field {
  position: relative;
  padding: 70px 10px;
  text-align: center;
  background: #418cfa; solid-color: #418cfa;
}

.apply-content-text {
  margin-bottom: 24px;
  font-family: $font-replica;
  font-size: 26px;
  color: #ffffff;
}

/* ICP */
.icp-content-text {
  background: #2e2e2e;
  padding: 12px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: #aaaaaa;
  a {
    display: inline-block;
    height:20px;
    line-height:20px;
    text-decoration:none;
    &:hover {
      color: #aaaaaa;
    }
    color: #aaaaaa;
  }
}

/* Bottom NavBar */
.nav-icon {
  width: 24px;
  height: 24px;
}

.nav-menu-policy {
  margin-right: -15px;
}

.nav-menu-email {
  margin-left: -15px;
}

.navbar-easi6 {
  opacity: 0.95;
  background-color: #000000;
}

.default-nav {
  display: block;
}

.mobile-nav {
  opacity: 1;
  display: none;
}

.bottom-nav-text {
  color: #ffffff;
  font-size: 12px;
}

/* Wechat popover */
.popover-wechat {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 1060;
  color: black;
  display: none;
  width: 230px !important;
  height: 210px !important;
  margin-left: -12px;
  padding: 1px;
  text-align: center;
  white-space: normal;
  background-color: white !important;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 0 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover-wechat.top {
  margin-top: -63px;
  margin-left: -7px;
}

.popover-wechat > .arrow, .popover-wechat > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: solid transparent;
}

.popover-wechat > .arrow {
  border-width: 11px;
}

.popover-wechat > .arrow:after {
  content: "";
  border-width: 10px;
}

.popover-wechat.top> .arrow {
  right: 50%;
  bottom: -11px;
  margin-right: -11px;
  border-bottom-width: 0;
  botder-top-color: #999;
}

.popover-wechat.top > .arrow:after {
  bottom: 1px;
  left: -17px;
  content: " ";
  border-bottom-width: 0;
  border-top-color: #ffffff;
}

.popover-wechat > .popover-wechat-id {
  font-family: $font-nanum;
  margin-top: 26px;
  font-size: 14px;
  font-weight: bold;
  color: #4ba1ff;
}

.popover-wechat > .popover-wechat-content {
  font-family: $font-nanum;
  margin-bottom: 24px;
  opacity: 0.4;
  font-size: 14px;
  color: #000000;
}

.popover-wechat > .popover-wechat-qr {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background: #000000;
}

/* Customer Tap ---------------------------*/
/* Main */
.customer-main-field {
  position: relative;
  background: url("../images/c-main@2x.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.manager-main-field {
  position: relative;
  background: url("../images/m-main@2x.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.driver-main-field {
  position: relative;
  background: url("../images/d-main@2x.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.ems-service-main-title-text {
  font-family: $font-replica;
  font-size: 64px;
  color: #ffffff;
}

.ems-service-main-subtitle-text {
  font-family: $font-nanum;
  font-size: 28px;
  line-height: 1.5;
  color: #ffffff;
}

.breadcrumb-list {
  display: table;
  position: absolute;
  top: 110px;
  left: 30px;
  text-align: center;
}

a.breadcrumb-font {
  float: left;
  font-family: $font-nanum;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
}

.breadcrumb-font {
  float: left;
  font-family: $font-nanum;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
}

.breadcrumb-arrow {
  display: table-cell;
  float: left;
  width: 6px;
  height: 10px;
  margin: 4px 10px 0;
  vertical-align: middle;
}

.scroll-icn {
  position: absolute;
  width: 21px;
  height: 45px;
  bottom: 30px;
  margin: 0 auto;
}

/* Content */
.customer-1-field {
  position: relative;
  background: url("../images/c-1@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.customer-2-field {
  position: relative;
  background: #f5f5f5 url("../images/c-2@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.customer-3-field {
  position: relative;
  background: url("../images/c-3@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.customer-4-field {
  position: relative;
  background: #f5f5f5 url("../images/c-4@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.customer-5-field {
  position: relative;
  background: url("../images/c-5@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.manager-1-field {
  position: relative;
  background: url("../images/m-1@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.manager-2-field {
  position: relative;
  background: #f5f5f5 url("../images/m-2@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.manager-3-field {
  position: relative;
  background: url("../images/m-3@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.manager-4-field {
  position: relative;
  background: #f5f5f5 url("../images/m-4@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.manager-5-field {
  position: relative;
  background: url("../images/m-5@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.driver-1-field {
  position: relative;
  background: url("../images/d-1@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.driver-2-field {
  position: relative;
  background: #f5f5f5 url("../images/d-2@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.driver-3-field {
  position: relative;
  background: url("../images/d-3@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.driver-4-field {
  position: relative;
  background: #f5f5f5 url("../images/d-4@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.driver-5-field {
  position: relative;
  background: url("../images/d-5@2x.jpg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  text-align: center;
}

.center-content-main-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center-content-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.content-text-width {
  max-width: 1000px;
}

.ems-service-title-text {
  font-family: $font-nanum;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
}

.ems-service-subtitle-text {
  font-family: $font-nanum;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #000000;
}

.mobile-dropdown > a {
  text-align: center;
  font-weight: bold;
}

.mobile-login-btn {
  width: 76px;
  border: solid 1px #000000;
  margin: 9px auto;
  text-align: center;
  font-weight: bold;
  padding: 6px !important;
}

@media (min-height: 1200px) {
  .ems-service-title-text {
    font-size: 56px;
  }
  .ems-service-subtitle-text {
    font-size: 28px;
  }
}

@media (max-height: 1200px) {
  .ems-service-title-text {
    font-size: 56px;
  }
  .ems-service-subtitle-text {
    font-size: 28px;
  }
}

@media (max-height: 1000px) {
  .ems-service-title-text {
    font-size: 42px;
  }
  .ems-service-subtitle-text {
    font-size: 21px;
  }
}

@media (max-height: 800px) {
  .ems-service-title-text {
    font-size: 28px;
  }
  .ems-service-subtitle-text {
    font-size: 14px;
  }
}

/* 모바일인 경우(1000px 이하) 처리 */
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .top-navbar {
    background: white;
  }

  .bottom-navbar {
    background: black;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 8px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-ems.navbar-default .navbar-nav > li > a {
    color: #000000;
  }

  .navbar-easi6.navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }

  .bottom-nav-text {
    font-family: $font-nanum;
    font-size: 14px;
  }

  .collapse.in {
    display:block !important;
  }

  .nav-menu-support, .dropdown-toggle, .nav-menu-policy, .nav-menu-email {
    opacity: 1;
    font-weight: normal;
    margin: 0;
  }

  .nav-cs-icon, .nav-divider1 {
    display: none;
    height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .apply-txt {
    font-size: 38px;
    font-weight: bold;
  }

  .apply-btn {
    font-size: 14px;
    font-weight: bold;
  }

  .default-field {
    margin: 0 auto;
    max-width: 511px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .title_text {
    font-size: 19px;
  }

  .ems-text2 {
    font-size: 14px;
  }

  .service-list > div {
    margin: 20px auto;
  }

  .center-margin {
    clear: left;
    margin: 0 auto;
  }

  .social-andasun, .social-rich {
    clear: left;
    margin: 0 20px;
  }

  .social-andasun {
    margin-bottom: 60px;
  }

  .illust-text {
    background-size: 400px;
    max-width: 360px;
    max-height: 338px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 14px;
  }

  .illust-customer {
    top: 107px;
  }

  .illust-driver {
    left: 58px;
    bottom: 18px;
  }

  .illust-manager {
    right: 39px;
    bottom: 18px;
  }

  .illust-serve {
    top: 80px;
    left: 21px;
  }

  .illust-order {
    top: 80px;
    right: 19px;
  }

  .benefit-horizontal-list {
    max-width: 391px;
  }

  .benefit-box {
    width: auto;
    max-width: 391px;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .default-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .scroll-icn {
    display: none;
  }

  .breadcrumb-list {
    top: 50px;
  }

  .content-field {
    height: 363px !important;
  }

  .center-content-text {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  .ems-service-subtitle-text {
    max-width: none;
  }

  .ems-service-main-title-text {
    font-size: 38px;
  }

  .ems-service-title-text {
    font-size: 19px;
  }

  .ems-service-main-subtitle-text, .ems-service-subtitle-text {
    font-size: 14px;
  }

  .shadow-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
  }

  .navbar-toggle {
    display: block;
    border: none;
    background: transparent !important;
  }

  .navbar-toggle:hover {
    background: transparent !important;
  }

  .navbar-toggle .navbar-menu-icon {
    background: url("../images/icn-close.svg") center;
    width: 20px;
    height: 20px;
  }

  .shadow-div {
    display: block;
  }

  .navbar-toggle.collapsed .navbar-menu-icon {
    background: url("../images/icn-menu.svg") center;
    width: 20px;
    height: 16px;
    margin-top: 2px;
  }

  .navbar-toggle.collapsed .shadow-div {
    display: none;
  }
}

@media (min-width: 470px) {
  .center-content-text {
    margin-top: 0 !important;
  }
}

/* 더 작을 경우(320px 이하) 처리 */
@media (max-width: 320px) {
  .illust-text {
    background-size: 355px;
    max-width: 320px;
    max-height: 300px;
  }

  .illust-customer {
    top: 92px;
  }

  .illust-driver {
    left: 38px;
    bottom: 13px;
  }

  .illust-manager {
    right: 19px;
    bottom: 13px;
  }

  .illust-serve {
    top: 80px;
    left: 11px;
  }

  .illust-order {
    top: 80px;
    right: 9px;
  }
}

.nav-menu-policy, .nav-menu-email {
  color: #777777 !important;
  &:hover {
    color: #777777 !important;
  }
}
