@font-face {
  font-family: 'NanumBarunGothicOTF';
  src: url('../fonts/NanumBarunGothic.otf') format('otf');
}

body {
  height: 100%;
  padding-top: 60px;
}

html {
  height: 100%;
}

hr {
  color: #e5e5e5;
}

.divider1 {
  width: 1px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background: #d9d9d9;
}

.divider2 {
  width: 1px;
  height: 20px;
  opacity: 0.4;
  background: #ffffff;
}

/* NavBar */
.navbar-ems > li > a, .div-cs, .navbar-ems > .container-fluid, .navbar-ems > .navbar-header, .navbar-ems > .collapse, .nav-divider1 {
  padding-top: 10px;
  padding-bottom: 0;
  height: 70px;
}

.btn-dropdown-n {
  width: 10px;
  height: 6px;
}

.navbar-ems {
  background-color: #ffffff;
}

.icon-cs {
  width: 22px;
  height: 22px;
  margin-right: -24px;
}

.nav-menu-support {
  margin-right: 30px;
}

.nav-menu-login {
  font-weight: bold;
}

.dropdown-toggle {
  margin-right: 29px;
  font-weight: bold;
}

.top-nav-text {
  font-family: NanumBarunGothicOTF;
  font-size: 14px;
  color: #000000;
}

/* Apply */
.apply-field {
  position: relative;
  background: url("../images/main@3x.png") no-repeat center;
  background-size: cover;
  height: 100%;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  text-align: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.apply-txt {
  margin-bottom: 10px;
  font-size: 54px;
  font-weight: bold;
  font-family: ReplicaPro;
  color: #ffffff;
}

.apply-btn {
  width: 112px;
  height: 36px;
  background: transparent;
  border: solid 1px #ffffff;
  font-size: 14px;
  /*font-weight: bold;*/
  color: #ffffff;
}

.default-field {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

/* EMS Illust */
.title_text {
  font-family: ReplicaPro;
  font-size: 26px;
  text-align: center;
  color: #000000;
}

.ems-text2 {
  font-family: NanumBarunGothicOTF;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #aaaaaa;
}

.illust-text {
  background: url("../images/ems-illust.png") no-repeat center;
  position: relative;
  max-width: 660px;
  height: 558px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

h2 {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-height: normal;
  text-align: center;
  letter-spacing: -0.8px;
}

h3 {
  font-family: "ArialMT";
  font-size: 16px;
  text-align: center;
  color: #013662;
}

.illust-customer {
  position: absolute;
  top: 183px;
  left: 50%;
  transform: translateX(-50%);
  color: #2450a0;
}

.illust-driver {
  position: absolute;
  left: 78px;
  bottom: 47px;
  color: #4aa0ff;
}

.illust-manager {
  position: absolute;
  right: 59px;
  bottom: 47px;
  color: #2f6dde;
}

.illust-serve {
  position: absolute;
  top: 198px;
  left: 61px;
}

.illust-order {
  position: absolute;
  top: 198px;
  right: 59px;
}

.illust-dispatch {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -35px;
  transform: translateX(-50%);
}

/* EMS Service */
.default-field {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.service-list {
  display: table;
  padding-top: 60px;
  margin: 0 auto;
}

.service-list > div {
  position: relative;
  width: 290px;
  height: 290px;
  margin: 10px;
}

.ems-customer-box {
  background: url("../images/customer.png") no-repeat center;
}

.ems-manager-box {
  background: url("../images/manager.png") no-repeat center;
}

.ems-driver-box {
  background: url("../images/driver.png") no-repeat center;
}

.ems-service-text-div {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  text-align: left !important;
}

.shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 290px;
  height: 145px;
}

h4 {
  font-family: NanumBarunGothicOTF;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

h5 {
  font-family: NanumBarunGothicOTF;
  font-size: 14px;
  line-height: 1.57;
  color: #ffffff;
}

/* Benefits */
.default-field {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.benefit-horizontal-list {
  display: table;
  clear: both;
  margin: 0 auto;
}

.benefit-box {
  float: left;
  max-width: 391px;
  margin-top: 80px;
}

.benefit-box-left {
  margin-right: 60px;
}

.benefit-box-right {
  margin-left: 60px;
}

.benefit-icon {
  width: 47px;
  height: 47px;
  margin-bottom: 29px;
}

h6 {
  font-family: NanumBarunGothicOTF;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

h7 {
  font-family: NanumBarunGothicOTF;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #000000;
}

/* Social Proof */
.default-field {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.social-div {
  position: relative;
  display: table;
  margin: 58px auto 0;
  text-align: center;
}

.quotation {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  font-size: 34px;
  color: #000000;
}

.social-andasun, .social-rich {
  float: left;
  max-width: 365px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.andasun, .rich {
  margin: 0 auto;
  width: 66px;
  height: 66px;
  border: 1px solid;
}

.social-text-1 {
  font-family: NanumBarunGothicOTF;
  margin-top: 14px;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.social-text-2 {
  font-family: NanumBarunGothicOTF;
  font-size: 12px;
  font-weight: bold;
  color: #9b9b9b;
}

.social-text-3 {
  max-width: 265px;
  margin-top: 7px;
  font-family: NanumBarunGothicOTF;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  color: #000000;
}

/* Apply bottom */
.apply-bottom-field {
  position: relative;
  padding: 70px 10px;
  text-align: center;
  background: #418cfa; solid-color: #418cfa;
}

.apply-content-text {
  margin-bottom: 24px;
  font-family: ReplicaPro;
  font-size: 26px;
  color: #ffffff;
}

/* ICP */
.icp-content-text {
  background: #2e2e2e;
  padding: 9px;
  opacity: 0.8;
  font-family: ArialMT;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* Bottom NavBar */
.nav-icon {
  width: 24px;
  height: 24px;
}

.nav-menu-policy {
  margin-right: -15px;
}

.nav-menu-email {
  margin-left: -15px;
  opacity: 0.8;
}

.navbar-easi6 {
  opacity: 0.95;
  background-color: #000000;
}

.default-nav {
  visibility: visible;
}

.mobile-nav {
  opacity: 1;
  visibility: hidden;
}

.bottom-nav-text {
  color: #ffffff;
  font-family: ArialMT;
  font-size: 12px;
}

/* Wechat popover */
.popover-wechat {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 1060;
  color: black;
  display: none;
  width: 230px !important;
  height: 210px !important;
  margin-left: -12px;
  padding: 1px;
  text-align: center;
  white-space: normal;
  background-color: white !important;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 0 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover-wechat.top {
  margin-top: -63px;
  margin-left: -7px;
}

.popover-wechat > .arrow, .popover-wechat > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: solid transparent;
}

.popover-wechat > .arrow {
  border-width: 11px;
}

.popover-wechat > .arrow:after {
  content: "";
  border-width: 10px;
}

.popover-wechat.top> .arrow {
  right: 50%;
  bottom: -11px;
  margin-right: -11px;
  border-bottom-width: 0;
  botder-top-color: #999;
}

.popover-wechat.top > .arrow:after {
  bottom: 1px;
  left: -17px;
  content: " ";
  border-bottom-width: 0;
  border-top-color: #ffffff;
}

.popover-wechat > .popover-wechat-id {
  font-family: NanumBarunGothicOTF;
  margin-top: 26px;
  font-size: 14px;
  font-weight: bold;
  color: #4ba1ff;
}

.popover-wechat > .popover-wechat-content {
  font-family: NanumBarunGothicOTF;
  margin-bottom: 24px;
  opacity: 0.4;
  font-size: 14px;
  color: #000000;
}

.popover-wechat > .popover-wechat-qr {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background: #000000;
}

/* 모바일인 경우(1000px 이하) 처리 */
@media (max-width: 1000px) {
  body {
    padding-bottom: 50px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .top-navbar {
    background: white;
  }

  .bottom-navbar {
    background: black;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 8px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-ems.navbar-default .navbar-nav > li > a {
    color: #000000;
  }

  .navbar-easi6.navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }

  .bottom-nav-text {
    font-family: NanumBarunGothicOTF;
    font-size: 14px;
  }

  .collapse.in {
    display:block !important;
  }

  .nav-menu-support, .nav-menu-login, .dropdown-toggle, .nav-menu-policy, .nav-menu-email {
    opacity: 1;
    font-weight: normal;
    margin: 0;
  }

  .nav-cs-icon, .nav-divider1 {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .default-field {
    margin: 0 auto;
    max-width: 511px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .service-list > div {
    margin: 20px auto;
  }

  .center-margin {
    clear: left;
    margin: 0 auto;
  }

  .social-andasun, .social-rich {
    clear: left;
    margin: 0 20px;
  }

  .social-andasun {
    margin-bottom: 60px;
  }

  .illust-text {
    background-size: 400px;
    max-width: 360px;
    max-height: 338px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 14px;
  }

  .illust-customer {
    top: 107px;
  }

  .illust-driver {
    left: 58px;
    bottom: 18px;
  }

  .illust-manager {
    right: 39px;
    bottom: 18px;
  }

  .illust-serve {
    top: 80px;
    left: 21px;
  }

  .illust-order {
    top: 80px;
    right: 19px;
  }

  .benefit-horizontal-list {
    max-width: 391px;
  }

  .benefit-box {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .default-nav {
    visibility: hidden;
  }

  .mobile-nav {
    visibility: visible;
  }
}

/* 더 작을 경우(320px 이하) 처리 */
@media (max-width: 320px) {
  .illust-text {
    background-size: 355px;
    max-width: 320px;
    max-height: 300px;
  }

  .illust-customer {
    top: 92px;
  }

  .illust-driver {
    left: 38px;
    bottom: 13px;
  }

  .illust-manager {
    right: 19px;
    bottom: 13px;
  }

  .illust-serve {
    top: 80px;
    left: 11px;
  }

  .illust-order {
    top: 80px;
    right: 9px;
  }

  .benefit-box {
    margin-left: 30px;
    margin-right: 30px;
  }
}
