<!-- ICP -->
<div class="icp-field">
  <div class="icp-content-text" data-langstr="txt_icp">粤ICP备17020336号粤公网安备 44030402000541号<br>© 2017 深圳易智顺顺科技有限公司 Easi6 Limited. All Rights Reserved.</div>
</div>
<!-- Bottom NavBar -->
<!-- default -->
<div class="navbar-easi6 default-nav navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="images/logo-easi-6.svg">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-menu-policy bottom-nav-text" data-langstr="txt_terms_policy" href="#">Terms & Policy</a></li>
        <li><a><div class="divider2" role="separator"></div></a></li>
        <li><a class="nav-menu-email bottom-nav-text" data-langstr="txt_easi_way_email" href="#">info@easi-way.com</a></li>
        <li>
          <a>
            <img class="nav-icon" role="button" alt="wechat"
                 data-template=
                   '<div class="popover-wechat" rule="tooltip">
                <div class="arrow"></div>
                <div class="popover-wechat-id" data-langstr="txt_wechat_id">Wechat ID : T4012399921</div>
                <div class="popover-wechat-content" data-langstr="txt_wechat_content">asdf</div>
                <div class="popover-wechat-qr"></div>
              </div>' data-toggle="popover" data-placement="top" data-content=" " src="images/wechat.svg">
          </a>
        </li>
        <li><a href="#"><img class="nav-icon" alt="facebook" src="images/facebook.svg"></a></li>
        <li><a href="#"><img class="nav-icon" alt="instagram" src="images/instagram@3x.png"></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- mobile -->
<div class="navbar-easi6 mobile-nav navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="images/logo-easi-6.svg">
      </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bottom-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse bottom-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-menu-policy bottom-nav-text" data-langstr="txt_terms_policy" href="#">Terms & Policy</a></li>
        <li><a class="nav-menu-email bottom-nav-text" data-langstr="txt_easi_way_email" href="#">info@easi-way.com</a></li>
        <li>
          <a><img class="nav-icon" role="button" alt="wechat"
                  data-template=
                    '<div class="popover-wechat" rule="tooltip">
                <div class="arrow"></div>
                <div class="popover-wechat-id" data-langstr="txt_wechat_id">Wechat ID : T4012399921</div>
                <div class="popover-wechat-content" data-langstr="txt_wechat_content">asdf</div>
                <div class="popover-wechat-qr"></div>
              </div>' data-toggle="popover" data-placement="top" data-content=" " src="images/wechat.svg"></a>
        </li>
        <li><a href="#"><img class="nav-icon" alt="facebook" src="images/facebook.svg"></a></li>
        <li><a href="#"><img class="nav-icon" alt="instagram" src="images/instagram@3x.png"></a></li>
      </ul>
    </div>
  </div>
</div>
