<div id="{{name}}-qa-box" class="register-qa-box">
  <div class="register-q-box">
    <span class="register-q" data-langstr="register_question_{{number}}"></span>
    {% if required %}
      <span class="register-q-required">*</span>
    {% endif %}
    <span class="register-q-desc" data-langstr="register_desc_{{number}}"></span>
  </div>
  <div class="register-a-box">
    {% if type == 'text' %}
      <input type="text" class="register-a-text-field" name="{{name}}" {% if required %} required="required" {% endif %} />
    {% elif type == 'email' %}
      <input type="email" class="register-a-text-field" name="{{name}}" {% if required %} required="required" {% endif %} />
    {% elif type == 'radio' %}
      {% for option in options %}
        <div class="register-radio-option custom-radio">
          <input type="radio" value="{{option.value}}" id="radio-{{name}}-{{option.value}}" name="{{name}}" {% if required %} required="required" {% endif %} />
          <label for="radio-{{name}}-{{option.value}}" data-langstr="register_option_{{option.name}}_{{option.value}}"></label>
        </div>
      {% endfor %}
    {% elif type == 'checkbox' %}
      {% for option in options %}
        <div class="register-checkbox-option custom-check">
          <input type="checkbox" value="{{option.value}}" id="check-{{name}}-{{option.value}}" name="{{name}}">
          <label for="check-{{name}}-{{option.value}}" data-langstr="register_option_{{option.name}}_{{option.value}}"></label>
        </div>
      {% endfor %}
    {% endif %}
    <span class="register-a-err"></span>
  </div>
</div>
